#song-selector-wrapper {
  display: flex;
  align-items: center;
  color: white;
  letter-spacing: 1px;
}

#song-selector-wrapper > p {
  font-size: clamp(16px, 2vw, 18px);
}

@media (min-width: 401px) {
  #song-selector-wrapper > p {
    white-space: pre;
  }
}

@media (max-width: 400px) {
  #song-selector-wrapper > p {
    white-space: unset;
    text-align: center;
  }
}

.chevrons {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s;
}

.chevrons:hover {
  transform: scale(1.3);
}
