#seeker-wrapper {
  color: white;
  display: flex;
  align-items: center;
  flex: 1;
}

#seeker-wrapper > * {
  margin-left: 1rem;
}

#seeker,
#seeker-fill {
  border-radius: 5px;
  padding: 0;
}

#seeker {
  width: 100%;
  background: white;
  height: 8px;
  cursor: pointer;
}

#seeker-fill {
  width: 0%;
  height: 100%;
  transition: 0.3s;
  background: #2f344b;
}
