#controls-wrapper,
#controls-wrapper-invisible {
  display: flex;
  position: fixed;
  width: 100vw;
  bottom: 0;
  transition: 0.3s;
}

#controls-wrapper {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
  box-sizing: border-box;
}

#controls-wrapper-invisible {
  opacity: 0.5;
}

.visible {
  opacity: 1 !important;
}

@media (min-width: 769px) {
  #controls-wrapper,
  #controls-wrapper-invisible {
    flex-direction: row;
    padding: 1rem 1rem;
  }
}

@media (max-width: 768px) {
  #controls-wrapper,
  #controls-wrapper-invisible {
    flex-direction: column;
    height: 100vh;
  }
}

.cog-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  margin-right: auto;
}
button:focus {
  outline: 1px solid white;
}
