#controls {
  flex: 1;
  transition: opacity 0.3s;
  display: flex;
}

@media (min-width: 769px) {
  #controls {
    flex-direction: row;
  }
  #controls > * {
    margin-left: 1rem;
  }
}

@media (max-width: 768px) {
  #controls {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
}
