#song-selector-wrapper {
  display: flex;
  align-items: center;
  color: white;
  letter-spacing: 1px;
}

#song-selector-wrapper > p {
  white-space: pre;
  font-size: clamp(16px, 2vw, 18px);
}

.chevrons {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s;
}

.chevrons:hover {
  transform: scale(1.3);
}
